
<title>Klymovets Denys CV</title>


<h2>Welcome to my CV Page</h2>
<p>Hope we'll find each other interestin and will build excellent co-working</p>

<div>Here you can know more about me, my skills, and my experience:</div>


    <div class="mainList">
        <a class="nav=link text-dark" asp-area="" asp-controller="AboutMe" asp-action="Index">About Me</a>
    </div>
    <div class="mainList">
        <a class="nav=link text-dark" asp-area="" asp-controller="Education" asp-action="Index">Education</a>
    </div>
    <div class="mainList">
        <a class="nav=link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
    </div>
    <div class="mainList">
        <a class="nav=link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a>
    </div>